/* CSS FOR Login *//* CSS FOR Login *//* CSS FOR Login *//* CSS FOR Login *//* CSS FOR Login */

body{
    background-color: #1e372b;
}
form {
    text-align: center; 
    width: 500px;
    margin: 0 auto; 
    padding: 50px 0; 
    background-color: rgb(254, 254, 254);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    margin-top: 200px;
    background-color: rgba(255, 252, 252, 0.5);
}
p{
    font-size: 30px;
    color: #f1f1f1;
}
h1{
    text-align: center;
    color: #fff;
}
table {
    width: 100%; 
    padding: 30px 50px;
}

button {
    width: 150px; 
    height: 40px;
    color: #fff; 
    background-color: #198754; 
    border-color: #198754; 
    margin-top: 20px; 
    margin-left: 10px;
    border-radius: 5px;
}
.login{
    transform: translate(870px, -70px);
}

button:hover {
    color: #157347;  
}
input{
    size: 10px;
    border-radius: 5px;
    height: 30px;
    width: 250px;
}

/* CSS FOR DASHBOARD *//* CSS FOR DASHBOARD *//* CSS FOR DASHBOARD *//* CSS FOR DASHBOARD */

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}
  
 
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 900px;
  }
  

footer{
    text-align: center;
    color: #fcfcfc;
    background-color: #000;
    padding: 20px;
}